/* Global Styling */
body {
  font-family: 'Creepster', cursive, sans-serif;
  background-color: #000;  /* Black background for spookiness */
  color: #f0f0f0; /* Light text */
  margin: 0;
  padding: 0;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('halloween.png');
  background-size: cover;
  background-position: center;
}

h1 {
  color: #FF4500; /* Orange header for Halloween theme */
  text-shadow: 3px 3px 0px rgba(131, 2, 236, 0.7); /* Spooky shadow effect */
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
}

p {
  text-align: center;
  font-size: 1.5rem;
  color: #f0f0f0;
  margin-bottom: 30px;
}

/* Container for forms and pages */
.container {
  width: 90%;
  max-width: 800px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  margin: auto;  /* Center horizontally */
  border-left: 2px solid #FF4500;
  border-right: 2px solid #FF4500;
  border-bottom: 2px solid #FF4500;
  word-wrap: break-word; /* Prevent long hashes from breaking layout */
}

/* Input styling for forms */
input[type="text"], input[type="email"], input[type="file"] {
  width: 100%;
  padding: 18px;
  margin: 15px 0;
  background-color: #000;
  box-shadow: 0 0 10px #b504eb, 0 0 20px #FF4500;
  color: #fff;
  border-radius: 8px;
  font-size: 1rem;
  
}

/* Button styling */
button {
  background-color: #FF4500;
  color: white;
  padding: 12px 24px;
  border: none;
  font-size: 1.2rem;
  border-radius: 8px; /* Rounded corners */ 
   cursor: pointer;
}

button:hover {
  background-color: #FF6347;
}


/* Styling for the links in the LandingPage */
a {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  background-color: #FF4500; /* Bright orange background for links */
  color: #f6f2f7; /* Light text to stand out against the orange background */
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 8px; /* Rounded corners */
}

/* Hover effect for links */
a:hover {
  background-color: #FF6347; /* Slightly lighter orange on hover */
  transform: scale(1.05); /* Slightly enlarges the link on hover */
}

/* Flexbox for aligning buttons side by side */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between the buttons */
  margin-top: 20px;
}

/* Container for the main content in LandingPage */
.landing-page-container {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  margin: auto;  /* Center the content */
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  a {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .container {
    width: 100%;
    margin: 0 10px;
  }


}

